.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  
  .story img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .story h2,
  .story p {
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .story h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .story p {
    font-size: 1.2rem;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  .buttons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .buttons button:focus {
    outline: none;
  }
  
  .buttons .left {
    position: absolute;
    left: 20px;
  }
  
  .buttons .right {
    position: absolute;
    right: 20px;
  }
  