.q-img-container {
    height: 200px; /* or any other value that works for you */
    overflow: hidden; /* this hides any parts of the image that exceed the container's height */
}
.q-img {
    max-width: 100% !important; /* add this property to preserve the image's original width */
    object-fit: cover;
    border-radius: 20% 80% 24% 76% / 88% 18% 82% 12% ;
    transition: border-radius 500ms ease-in-out, scale 500ms ease-in-out;
}

.q-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* max-width: 1248px; */
    margin: 0 auto;
    width: 100%;
  }
  
  .q-img-container {
    height: 300px;
    overflow: hidden;
    margin-left: 10px;
  }

  .q-img:hover {
    border-radius: 15% 85% 22% 78% / 82% 19% 81% 18% ;
    scale: 1.1;
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='red' d='M12 22c-1.2 0-2.4-.6-3.1-1.6C7.1 18.2 2 14.3 2 9.5 2 6.4 4.4 4 7.5 4c1.9 0 3.7.9 4.8 2.2C13.8 4.9 16 4 17.9 4c3.1 0 5.5 2.4 5.5 5.5 0 4.8-5.1 8.7-6.9 10.9-.7 1-1.9 1.6-3.1 1.6z'/%3E%3C/svg%3E"), pointer;
  }
  
  .q-img {
    height: 90%;
    max-width: 100%;
  }
  
  .q-accordion-container {
    flex: 1; /* Add this property to make the accordion container fill the remaining space */
    margin-left: 10px; /* Add margin to create spacing between the image and accordion */
  }

  @media screen and (max-width: 768px) {
    .q-container {
      flex-direction: column;
    }
    .q-img-container {
      /* margin-left: 0; */
      margin-top: 24px;
    }
    .q-accordion-container {
      margin-left: 0;
    }
  }  
  
  