.btn-primary:hover {
  background-color: #F6B352 !important;
  border-color: #1b6d85;
  scale: 1.2;
}

@media screen and (max-width: 1024px) {
 .home-container {
  background-size: contain !important;
  margin-top: 40% !important
 }
 .child-content {
  margin-top: 0 !important;
 }
}
@media screen and (max-width: 875px) {
 .child-content {
  margin-top: -100px !important;
 }
}
@media screen and (max-width: 670px) {
 .child-content {
  margin-top: -200px !important;
 }
}
@media screen and (max-width: 600px) {
  .home-container {
    margin-top: auto !important;
    margin-bottom: auto !important;
    height: 50vh !important;
  }
 .child-content {
  background-color: rgba(0,0,0,.5) !important;
  font-size: 14px !important;
  margin-top: -275px !important;
  height: 70% !important;
  margin-block: auto !important;
 }
 .navbar  {
  margin-bottom: 20px;
 }
}
