.backgroundCont {
  background: linear-gradient(
    225deg,
    #F6B352 0%,
    #FFC3A0 50%,
    #C48F65 100%) !important;
    position: relative;
    width: 100%;
    height: 92.5vh;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .dogimages {
        width: 30% !important;
        height: 30% !important;
    }
    .cardtext {
        padding-right: 10px;
    }
}
