.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .kheight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    height: 255px;
    background: radial-gradient(circle at 50% 50%, #FFC3A0 0%, #F6B352 50%, #C48F65 100%);
  }

  /* .bggrey {
    background-color: #697196;
  } */
