@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&display=swap');

html,
body {
  height: 100%;
  text-align: justify;
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 125px);
}

.wrapper {
  background-color: rgba(255, 195, 160, 0.6) !important;
  /* flex-grow: 1; */
  background-repeat: repeat;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 16px;
    text-align: start;
  }
}